<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meu Site ExpressJS</title>

    <link rel="stylesheet" href="../../public/css/global.css" />
  </head>

  <nav class="menu">
    <a href="/">
      <img
        width="150"
        src="https://images.seeklogo.com/logo-png/53/1/bis-logo-png_seeklogo-531914.png"
        alt=""
      />
    </a>
    <ul>
      <a href="/contato">CONTATO</a>
      <a href="/sobre">SOBRE</a>
      <a class="bt-logar" href="#">LOGAR</a>
    </ul>
  </nav>
  <body></body>
</html>
